<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>PhotoBook - Cloud Native Development</title>

</head>

<body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">

    </form>

    <h2>Uploaded Images</h2>
    <ul>
        {% for image in images %}
        <li><img src="/images/{{ image }}" alt="Uploaded Image" style="max-width: 200px;"><br><a href="/images/{{ image }}">{{ image }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>